<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}CALCULADORA STRING SYMFONY{% endblock %}</title>

</head>
<body>
{% block body %}

    <h1>CALCULADORA STRING SYMFONY</h1>

    El resultado es: {{ resultado }}
{% endblock %}

</body>
</html>