
{% extends '::base.html.twig' %}



{% block body %}

<div>

    <form method="post" action="{{  path('app_user_doUpdate') }}">


       Email:       <input type="email" name="email"><br>
       Password:    <input type="text" name="password"><br>
        <input type="text"  name="username"><br>


        <input type="datetime" value="{{ user.createdAt|dat }}" name="createdAt" disabled="disabled"><br>
        <input type="text" value="{{ user.updateAt }}" name="updatedAt"disabled="disabled"><br>
        <input type="submit" value="Update"><br>

    </form>


</div>